div.container
    div.row
        div(class="span4 offset1")
            div.well
                legend Login
                input(class="span3", placeholder="Username:", type='text', id='userName', ng-model="data.userName")
                input(class="span3", placeholder="Game Name:", type='text', id='gameName', ng-model="data.gameName")
                input(type='button', class='btn', id='join_game', ng-click="joinGame()", value='Join Game')
                h {{data.userName}}
